@font-face {
  font-family: "Stack Sans Headline";
  src: url("/fonts/StackSansHeadline-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


:root {
  font-family: "Stack Sans Headline", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: 400; /* regular thickness */
}
